modules/configuration/gsrc/wsi/local/gw/webservice/bc/bc700/PaymentAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.bc.bc700.PaymentAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentAPI" name="PaymentAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentReceiptRecord" xmlns:pogo2="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentInstrumentRecord" xmlns:pogo3="http://guidewire.com/bc/typekey" xmlns:pogo4="http://guidewire.com/gw/webservice/bc/bc700" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/gw/webservice/bc/bc700"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentReceiptRecord"/>
      <!-- makeDirectBillPayment(String, PaymentReceiptRecord) : String -->
      <xs:element name="makeDirectBillPayment">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountID" type="xs:string" minOccurs="0"/>
            <xs:element name="moneyDetails" minOccurs="0" type="pogo:PaymentReceiptRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="makeDirectBillPaymentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- makeDirectBillPaymentToPolicyPeriod(String, PaymentReceiptRecord, String) : String -->
      <xs:element name="makeDirectBillPaymentToPolicyPeriod">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountID" type="xs:string" minOccurs="0"/>
            <xs:element name="moneyDetails" minOccurs="0" type="pogo:PaymentReceiptRecord"/>
            <xs:element name="policyPeriodID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="makeDirectBillPaymentToPolicyPeriodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- makeSuspensePayment(PaymentReceiptRecord) : String -->
      <xs:element name="makeSuspensePayment">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="suspensePayment" minOccurs="0" type="pogo:PaymentReceiptRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="makeSuspensePaymentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DataConversionException">
        <xs:complexType/>
      </xs:element>
      <!-- makeAccountAdjustment(String, Double) : Double -->
      <xs:element name="makeAccountAdjustment">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountID" type="xs:string" minOccurs="0"/>
            <xs:element name="adjustmentAmount" type="xs:double" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="makeAccountAdjustmentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:double" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <!-- reverseDirectBillPayment(String, PaymentReversalReason) -->
      <xs:element name="reverseDirectBillPayment">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="directBillMoneyRcvdID" type="xs:string" minOccurs="0"/>
            <xs:element name="paymentReversalReason" minOccurs="0" type="pogo3:PaymentReversalReason"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reverseDirectBillPaymentResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentReceiptRecord" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/webservice/bc/bc700"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentInstrumentRecord"/>
      <xs:complexType name="PaymentReceiptRecord">
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="CurrencyAmount" type="xs:string" gw:type="gw.api.financials.CurrencyAmount" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="OfferNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="OfferOption" type="xs:string" minOccurs="0"/>
          <xs:element name="PaymentDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="PaymentInstrumentRecord" minOccurs="0" type="pogo2:PaymentInstrumentRecord"/>
          <xs:element name="PaymentReceiptType" minOccurs="0" type="pogo4:paymentReceiptType"/>
          <xs:element name="PolicyNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="ReceivedDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="RefNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentInstrumentRecord" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/webservice/bc/bc700"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentReceiptRecord"/>
      <xs:complexType name="PaymentInstrumentRecord">
        <xs:sequence>
          <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
          <xs:element name="OneTime" type="xs:boolean" minOccurs="0"/>
          <xs:element name="PaymentMethod" minOccurs="0" type="pogo3:PaymentMethod"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="Token" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/webservice/bc/bc700"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentReceiptRecord"/>
      <xs:simpleType name="PaymentMethod">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ach"/>
          <xs:enumeration value="cash"/>
          <xs:enumeration value="check"/>
          <xs:enumeration value="creditcard"/>
          <xs:enumeration value="misc"/>
          <xs:enumeration value="responsive"/>
          <xs:enumeration value="accountunapplied"/>
          <xs:enumeration value="producerunapplied"/>
          <xs:enumeration value="wire"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PaymentReversalReason">
        <xs:restriction base="xs:string">
          <xs:enumeration value="accountclosed"/>
          <xs:enumeration value="internal"/>
          <xs:enumeration value="modification"/>
          <xs:enumeration value="moved"/>
          <xs:enumeration value="returnedcheck"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/webservice/bc/bc700" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc700/PaymentReceiptRecord"/>
      <xs:simpleType name="paymentReceiptType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ANONYMOUS"/>
          <xs:enumeration value="DIRECTBILLMONEYDETAILS"/>
          <xs:enumeration value="SUSPENSEPAYMENT"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PaymentAPIPortType">
    <wsdl:operation name="makeDirectBillPayment">
      <wsdl:input name="makeDirectBillPayment" message="tns:makeDirectBillPayment"/>
      <wsdl:output name="makeDirectBillPaymentResponse" message="tns:makeDirectBillPaymentResponse"/>
      <!-- If accountID is null -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="makeDirectBillPaymentToPolicyPeriod">
      <wsdl:input name="makeDirectBillPaymentToPolicyPeriod" message="tns:makeDirectBillPaymentToPolicyPeriod"/>
      <wsdl:output name="makeDirectBillPaymentToPolicyPeriodResponse" message="tns:makeDirectBillPaymentToPolicyPeriodResponse"/>
      <!-- If accountID is null -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="makeSuspensePayment">
      <wsdl:input name="makeSuspensePayment" message="tns:makeSuspensePayment"/>
      <wsdl:output name="makeSuspensePaymentResponse" message="tns:makeSuspensePaymentResponse"/>
      <!-- If more than one of AccountNumber, PolicyNumber, and OfferNumber are all non-null -->
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="makeAccountAdjustment">
      <wsdl:input name="makeAccountAdjustment" message="tns:makeAccountAdjustment"/>
      <wsdl:output name="makeAccountAdjustmentResponse" message="tns:makeAccountAdjustmentResponse"/>
      <!-- If the adjustment amount is non-negative -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="reverseDirectBillPayment">
      <wsdl:input name="reverseDirectBillPayment" message="tns:reverseDirectBillPayment"/>
      <wsdl:output name="reverseDirectBillPaymentResponse" message="tns:reverseDirectBillPaymentResponse"/>
      <!-- If directBillMoneyRcvdID does not correspond to a valid payment -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentAPISoap12Binding" type="tns:PaymentAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="makeDirectBillPayment">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="makeDirectBillPayment">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeDirectBillPaymentResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeDirectBillPaymentToPolicyPeriod">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="makeDirectBillPaymentToPolicyPeriod">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeDirectBillPaymentToPolicyPeriodResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeSuspensePayment">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="makeSuspensePayment">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeSuspensePaymentResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeAccountAdjustment">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="makeAccountAdjustment">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeAccountAdjustmentResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reverseDirectBillPayment">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="reverseDirectBillPayment">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reverseDirectBillPaymentResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentAPISoap11Binding" type="tns:PaymentAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="makeDirectBillPayment">
      <soap11:operation style="document"/>
      <wsdl:input name="makeDirectBillPayment">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeDirectBillPaymentResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeDirectBillPaymentToPolicyPeriod">
      <soap11:operation style="document"/>
      <wsdl:input name="makeDirectBillPaymentToPolicyPeriod">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeDirectBillPaymentToPolicyPeriodResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeSuspensePayment">
      <soap11:operation style="document"/>
      <wsdl:input name="makeSuspensePayment">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeSuspensePaymentResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="makeAccountAdjustment">
      <soap11:operation style="document"/>
      <wsdl:input name="makeAccountAdjustment">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeAccountAdjustmentResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reverseDirectBillPayment">
      <soap11:operation style="document"/>
      <wsdl:input name="reverseDirectBillPayment">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reverseDirectBillPaymentResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentAPI">
    <wsdl:port name="PaymentAPISoap12Port" binding="tns:PaymentAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/bc/bc700/PaymentAPI"/>
    </wsdl:port>
    <wsdl:port name="PaymentAPISoap11Port" binding="tns:PaymentAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/bc/bc700/PaymentAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="makeDirectBillPayment">
    <wsdl:part name="parameters" element="tns:makeDirectBillPayment"/>
  </wsdl:message>
  <wsdl:message name="makeDirectBillPaymentResponse">
    <wsdl:part name="parameters" element="tns:makeDirectBillPaymentResponse"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="makeDirectBillPaymentToPolicyPeriod">
    <wsdl:part name="parameters" element="tns:makeDirectBillPaymentToPolicyPeriod"/>
  </wsdl:message>
  <wsdl:message name="makeDirectBillPaymentToPolicyPeriodResponse">
    <wsdl:part name="parameters" element="tns:makeDirectBillPaymentToPolicyPeriodResponse"/>
  </wsdl:message>
  <wsdl:message name="makeSuspensePayment">
    <wsdl:part name="parameters" element="tns:makeSuspensePayment"/>
  </wsdl:message>
  <wsdl:message name="makeSuspensePaymentResponse">
    <wsdl:part name="parameters" element="tns:makeSuspensePaymentResponse"/>
  </wsdl:message>
  <wsdl:message name="DataConversionException">
    <wsdl:part name="DataConversionException" element="tns:DataConversionException"/>
  </wsdl:message>
  <wsdl:message name="makeAccountAdjustment">
    <wsdl:part name="parameters" element="tns:makeAccountAdjustment"/>
  </wsdl:message>
  <wsdl:message name="makeAccountAdjustmentResponse">
    <wsdl:part name="parameters" element="tns:makeAccountAdjustmentResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="reverseDirectBillPayment">
    <wsdl:part name="parameters" element="tns:reverseDirectBillPayment"/>
  </wsdl:message>
  <wsdl:message name="reverseDirectBillPaymentResponse">
    <wsdl:part name="parameters" element="tns:reverseDirectBillPaymentResponse"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>