modules/configuration/gsrc/wsi/remote/gw/webservice/pc/pc700/CancellationAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/CancellationAPI" name="CancellationAPI" xmlns="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/CancellationAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/pc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/CancellationAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:element name="beginCancellation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="cancellationDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
            <xs:element name="recalculateEffDate" type="xs:boolean"/>
            <xs:element name="cancellationSource" minOccurs="0" type="pogo:CancellationSource"/>
            <xs:element name="reasonCode" minOccurs="0" type="pogo:ReasonCode"/>
            <xs:element name="refundCalcMethod" minOccurs="0" type="pogo:CalculationMethod"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="beginCancellationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="AlreadyExecutedException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="EntityStateException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="PolicyTermInArchiveSOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="rescheduleCancellation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="jobNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="newCancellationDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
            <xs:element name="newDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rescheduleCancellationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rescindCancellation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="effectiveDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
            <xs:element name="source" minOccurs="0" type="pogo:CancellationSource"/>
            <xs:element name="reason" minOccurs="0" type="pogo:ReasonCode"/>
            <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rescindCancellationResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="rescindCancellationByJobNumber">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="jobNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rescindCancellationByJobNumberResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="findCancellations">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="cancellationDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
            <xs:element name="cancellationSource" minOccurs="0" type="pogo:CancellationSource"/>
            <xs:element name="reasonCode" minOccurs="0" type="pogo:ReasonCode"/>
            <xs:element name="calculationMethod" minOccurs="0" type="pogo:CalculationMethod"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findCancellationsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="CancellationSource">
        <xs:restriction base="xs:string">
          <xs:enumeration value="carrier"/>
          <xs:enumeration value="insured"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ReasonCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="cancel"/>
          <xs:enumeration value="condemn"/>
          <xs:enumeration value="criminal"/>
          <xs:enumeration value="ProdRequirements"/>
          <xs:enumeration value="failsafe"/>
          <xs:enumeration value="failterm"/>
          <xs:enumeration value="failcoop"/>
          <xs:enumeration value="fraud"/>
          <xs:enumeration value="fincononpay"/>
          <xs:enumeration value="noc"/>
          <xs:enumeration value="LossHistory"/>
          <xs:enumeration value="reinsurance"/>
          <xs:enumeration value="noemployee"/>
          <xs:enumeration value="eligibility"/>
          <xs:enumeration value="nondisclose"/>
          <xs:enumeration value="nonpayment"/>
          <xs:enumeration value="nonreport"/>
          <xs:enumeration value="OpsChars"/>
          <xs:enumeration value="sold"/>
          <xs:enumeration value="wrapup"/>
          <xs:enumeration value="PaymentHistory"/>
          <xs:enumeration value="nottaken"/>
          <xs:enumeration value="midtermrewrite"/>
          <xs:enumeration value="flatrewrite"/>
          <xs:enumeration value="ProductsChars"/>
          <xs:enumeration value="CovsNotAvailable"/>
          <xs:enumeration value="InfoNotProvided"/>
          <xs:enumeration value="riskchange"/>
          <xs:enumeration value="suspension"/>
          <xs:enumeration value="uwreasons"/>
          <xs:enumeration value="vacant"/>
          <xs:enumeration value="violation"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CalculationMethod">
        <xs:restriction base="xs:string">
          <xs:enumeration value="flat"/>
          <xs:enumeration value="prorata"/>
          <xs:enumeration value="shortrate"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="CancellationAPIPortType">
    <wsdl:operation name="beginCancellation">
      <wsdl:input name="beginCancellation" message="beginCancellation"/>
      <wsdl:output name="beginCancellationResponse" message="beginCancellationResponse"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
      <wsdl:fault name="AlreadyExecutedException" message="AlreadyExecutedException"/>
      <wsdl:fault name="EntityStateException" message="EntityStateException"/>
      <wsdl:fault name="PolicyTermInArchiveSOAPException" message="PolicyTermInArchiveSOAPException"/>
    </wsdl:operation>
    <wsdl:operation name="rescheduleCancellation">
      <wsdl:input name="rescheduleCancellation" message="rescheduleCancellation"/>
      <wsdl:output name="rescheduleCancellationResponse" message="rescheduleCancellationResponse"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
      <wsdl:fault name="AlreadyExecutedException" message="AlreadyExecutedException"/>
      <wsdl:fault name="EntityStateException" message="EntityStateException"/>
    </wsdl:operation>
    <wsdl:operation name="rescindCancellation">
      <wsdl:input name="rescindCancellation" message="rescindCancellation"/>
      <wsdl:output name="rescindCancellationResponse" message="rescindCancellationResponse"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="AlreadyExecutedException" message="AlreadyExecutedException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
    </wsdl:operation>
    <wsdl:operation name="rescindCancellationByJobNumber">
      <wsdl:input name="rescindCancellationByJobNumber" message="rescindCancellationByJobNumber"/>
      <wsdl:output name="rescindCancellationByJobNumberResponse" message="rescindCancellationByJobNumberResponse"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
    </wsdl:operation>
    <wsdl:operation name="findCancellations">
      <wsdl:input name="findCancellations" message="findCancellations"/>
      <wsdl:output name="findCancellationsResponse" message="findCancellationsResponse"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CancellationAPISoap12Binding" type="CancellationAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="beginCancellation">
      <soap12:operation style="document"/>
      <wsdl:input name="beginCancellation">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="beginCancellationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap12:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PolicyTermInArchiveSOAPException">
        <soap12:fault name="PolicyTermInArchiveSOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rescheduleCancellation">
      <soap12:operation style="document"/>
      <wsdl:input name="rescheduleCancellation">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="rescheduleCancellationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap12:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rescindCancellation">
      <soap12:operation style="document"/>
      <wsdl:input name="rescindCancellation">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="rescindCancellationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap12:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rescindCancellationByJobNumber">
      <soap12:operation style="document"/>
      <wsdl:input name="rescindCancellationByJobNumber">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="rescindCancellationByJobNumberResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findCancellations">
      <soap12:operation style="document"/>
      <wsdl:input name="findCancellations">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findCancellationsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CancellationAPISoap11Binding" type="CancellationAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="beginCancellation">
      <soap11:operation style="document"/>
      <wsdl:input name="beginCancellation">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="beginCancellationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap11:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PolicyTermInArchiveSOAPException">
        <soap11:fault name="PolicyTermInArchiveSOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rescheduleCancellation">
      <soap11:operation style="document"/>
      <wsdl:input name="rescheduleCancellation">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="rescheduleCancellationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap11:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rescindCancellation">
      <soap11:operation style="document"/>
      <wsdl:input name="rescindCancellation">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="rescindCancellationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap11:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rescindCancellationByJobNumber">
      <soap11:operation style="document"/>
      <wsdl:input name="rescindCancellationByJobNumber">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="rescindCancellationByJobNumberResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findCancellations">
      <soap11:operation style="document"/>
      <wsdl:input name="findCancellations">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findCancellationsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CancellationAPI">
    <wsdl:port name="CancellationAPISoap12Port" binding="CancellationAPISoap12Binding">
      <soap12:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc700/job/CancellationAPI"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc700/job/CancellationAPI"/>
    </wsdl:port>
    <wsdl:port name="CancellationAPISoap11Port" binding="CancellationAPISoap11Binding">
      <soap11:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc700/job/CancellationAPI/soap11"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc700/job/CancellationAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="beginCancellation">
    <wsdl:part name="parameters" element="beginCancellation"/>
  </wsdl:message>
  <wsdl:message name="beginCancellationResponse">
    <wsdl:part name="parameters" element="beginCancellationResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="AlreadyExecutedException">
    <wsdl:part name="AlreadyExecutedException" element="AlreadyExecutedException"/>
  </wsdl:message>
  <wsdl:message name="EntityStateException">
    <wsdl:part name="EntityStateException" element="EntityStateException"/>
  </wsdl:message>
  <wsdl:message name="PolicyTermInArchiveSOAPException">
    <wsdl:part name="PolicyTermInArchiveSOAPException" element="PolicyTermInArchiveSOAPException"/>
  </wsdl:message>
  <wsdl:message name="rescheduleCancellation">
    <wsdl:part name="parameters" element="rescheduleCancellation"/>
  </wsdl:message>
  <wsdl:message name="rescheduleCancellationResponse">
    <wsdl:part name="parameters" element="rescheduleCancellationResponse"/>
  </wsdl:message>
  <wsdl:message name="rescindCancellation">
    <wsdl:part name="parameters" element="rescindCancellation"/>
  </wsdl:message>
  <wsdl:message name="rescindCancellationResponse">
    <wsdl:part name="parameters" element="rescindCancellationResponse"/>
  </wsdl:message>
  <wsdl:message name="rescindCancellationByJobNumber">
    <wsdl:part name="parameters" element="rescindCancellationByJobNumber"/>
  </wsdl:message>
  <wsdl:message name="rescindCancellationByJobNumberResponse">
    <wsdl:part name="parameters" element="rescindCancellationByJobNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="findCancellations">
    <wsdl:part name="parameters" element="findCancellations"/>
  </wsdl:message>
  <wsdl:message name="findCancellationsResponse">
    <wsdl:part name="parameters" element="findCancellationsResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>