modules/configuration/gsrc/wsi/remote/gw/webservice/pc/pc700/PolicyRenewalAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/PolicyRenewalAPI" name="PolicyRenewalAPI" xmlns="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/PolicyRenewalAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/PolicyRenewalAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:element name="confirmTerm">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="termNumber" type="xs:int"/>
            <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="confirmTermResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="AlreadyExecutedException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="notifyPaymentReceivedForRenewalOffer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="offerID" type="xs:string" minOccurs="0"/>
            <xs:element name="selectedPaymentPlanCode" type="xs:string" minOccurs="0"/>
            <xs:element name="paymentAmount" type="xs:decimal" minOccurs="0"/>
            <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="notifyPaymentReceivedForRenewalOfferResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServerStateException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="startRenewals">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumbers" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startRenewalsResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="startNewRenewal">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="productCode" type="xs:string" minOccurs="0"/>
            <xs:element name="producerCodeId" type="xs:string" minOccurs="0"/>
            <xs:element name="policyPeriodData" type="xs:string" minOccurs="0"/>
            <xs:element name="parseOptions" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startNewRenewalResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DataConversionException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PolicyRenewalAPIPortType">
    <wsdl:operation name="confirmTerm">
      <wsdl:input name="confirmTerm" message="confirmTerm"/>
      <wsdl:output name="confirmTermResponse" message="confirmTermResponse"/>
      <wsdl:fault name="AlreadyExecutedException" message="AlreadyExecutedException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
    </wsdl:operation>
    <wsdl:operation name="notifyPaymentReceivedForRenewalOffer">
      <wsdl:input name="notifyPaymentReceivedForRenewalOffer" message="notifyPaymentReceivedForRenewalOffer"/>
      <wsdl:output name="notifyPaymentReceivedForRenewalOfferResponse" message="notifyPaymentReceivedForRenewalOfferResponse"/>
      <wsdl:fault name="AlreadyExecutedException" message="AlreadyExecutedException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
      <wsdl:fault name="ServerStateException" message="ServerStateException"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
    </wsdl:operation>
    <wsdl:operation name="startRenewals">
      <wsdl:input name="startRenewals" message="startRenewals"/>
      <wsdl:output name="startRenewalsResponse" message="startRenewalsResponse"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
    </wsdl:operation>
    <wsdl:operation name="startNewRenewal">
      <wsdl:input name="startNewRenewal" message="startNewRenewal"/>
      <wsdl:output name="startNewRenewalResponse" message="startNewRenewalResponse"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
      <wsdl:fault name="DataConversionException" message="DataConversionException"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PolicyRenewalAPISoap12Binding" type="PolicyRenewalAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="confirmTerm">
      <soap12:operation style="document"/>
      <wsdl:input name="confirmTerm">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmTermResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExecutedException">
        <soap12:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="notifyPaymentReceivedForRenewalOffer">
      <soap12:operation style="document"/>
      <wsdl:input name="notifyPaymentReceivedForRenewalOffer">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="notifyPaymentReceivedForRenewalOfferResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExecutedException">
        <soap12:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServerStateException">
        <soap12:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startRenewals">
      <soap12:operation style="document"/>
      <wsdl:input name="startRenewals">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startRenewalsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startNewRenewal">
      <soap12:operation style="document"/>
      <wsdl:input name="startNewRenewal">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startNewRenewalResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PolicyRenewalAPISoap11Binding" type="PolicyRenewalAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="confirmTerm">
      <soap11:operation style="document"/>
      <wsdl:input name="confirmTerm">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmTermResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExecutedException">
        <soap11:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="notifyPaymentReceivedForRenewalOffer">
      <soap11:operation style="document"/>
      <wsdl:input name="notifyPaymentReceivedForRenewalOffer">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="notifyPaymentReceivedForRenewalOfferResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExecutedException">
        <soap11:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServerStateException">
        <soap11:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startRenewals">
      <soap11:operation style="document"/>
      <wsdl:input name="startRenewals">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startRenewalsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startNewRenewal">
      <soap11:operation style="document"/>
      <wsdl:input name="startNewRenewal">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startNewRenewalResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyRenewalAPI">
    <wsdl:port name="PolicyRenewalAPISoap12Port" binding="PolicyRenewalAPISoap12Binding">
      <soap12:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc700/job/PolicyRenewalAPI"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc700/job/PolicyRenewalAPI"/>
    </wsdl:port>
    <wsdl:port name="PolicyRenewalAPISoap11Port" binding="PolicyRenewalAPISoap11Binding">
      <soap11:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc700/job/PolicyRenewalAPI/soap11"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc700/job/PolicyRenewalAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="confirmTerm">
    <wsdl:part name="parameters" element="confirmTerm"/>
  </wsdl:message>
  <wsdl:message name="confirmTermResponse">
    <wsdl:part name="parameters" element="confirmTermResponse"/>
  </wsdl:message>
  <wsdl:message name="AlreadyExecutedException">
    <wsdl:part name="AlreadyExecutedException" element="AlreadyExecutedException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="SOAPException"/>
  </wsdl:message>
  <wsdl:message name="notifyPaymentReceivedForRenewalOffer">
    <wsdl:part name="parameters" element="notifyPaymentReceivedForRenewalOffer"/>
  </wsdl:message>
  <wsdl:message name="notifyPaymentReceivedForRenewalOfferResponse">
    <wsdl:part name="parameters" element="notifyPaymentReceivedForRenewalOfferResponse"/>
  </wsdl:message>
  <wsdl:message name="ServerStateException">
    <wsdl:part name="ServerStateException" element="ServerStateException"/>
  </wsdl:message>
  <wsdl:message name="startRenewals">
    <wsdl:part name="parameters" element="startRenewals"/>
  </wsdl:message>
  <wsdl:message name="startRenewalsResponse">
    <wsdl:part name="parameters" element="startRenewalsResponse"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="startNewRenewal">
    <wsdl:part name="parameters" element="startNewRenewal"/>
  </wsdl:message>
  <wsdl:message name="startNewRenewalResponse">
    <wsdl:part name="parameters" element="startNewRenewalResponse"/>
  </wsdl:message>
  <wsdl:message name="DataConversionException">
    <wsdl:part name="DataConversionException" element="DataConversionException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>